.add-new-form {
  display: flex;
  gap: 20px;
  .left-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .right-content {
    border-left: 3px dashed #ccc;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .img-input {
      .label-upload {
        display: flex;
        align-items: center;
        gap: 5px;
        border: 1px solid red;
        border-radius: 5px;
        background: #1677ff;
        border: none;
        cursor: pointer;
        width: fit-content;
        padding: 8px 10px;
        color: white;
        &:hover {
          background: #4096ff;
        }
      }
    }
    .img-review {
      height: 180px;
      width: 180px;
      display: flex;
      flex-direction: column;
      border: 3px dashed #ccc;
      justify-content: center;
      align-items: center;
      color: #ccc;
      border-radius: 5px;
      .image {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
