.quiz-container {
  .add-quiz-container {
    padding: 15px;
  }
  .list-quizs {
    padding: 15px;
    .table-action {
      display: flex;
      gap: 20px;
      align-items: center;
    }
    .tab-content {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}
