.list-quiz-container {
  display: flex;
  gap: 48px;
  margin-top: 100px;
  justify-content: left;
  flex-wrap: wrap;
  @media (max-width: 768px) {
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
  }
  .card {
    width: 18rem;
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 5px;
    }
  }
}
