.login-container {
  background-color: #f2f0f5;
  min-height: 94vh;
  display: grid;
  place-items: center;
  .content-right {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;

    .facebook-right {
      text-align: center;
      .logo-mobi {
        height: 50px;
      }
    }

    .forgot-pass {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .Input-email {
      height: 50px;
      border-radius: 6px;
    }
    .Input-pass {
      height: 50px;
      border-radius: 6px;
    }
    .btLogin {
      height: 50px;
      font-weight: 700;
      font-size: 1rem;
      .ImSpinner9 {
        font-size: 16px;
        margin-bottom: 3px;
        color: #00d4ff;
        margin-right: 10px;
        animation: spin 1s infinite linear;
      }
      @keyframes spin {
        from {
          transform: scale(1) rotate(0deg);
        }
        to {
          transform: scale(1) rotate(360deg);
        }
      }
    }
    .btCNAcc {
      height: 50px;
      font-weight: 700;
      font-size: 1rem;
      font-family: inherit;
    }
    .btn-success {
      background-color: #42b72a;
    }
  }
}
